<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384172048760-316vtbv6k83kcdq7ludeqo9gj9efmljo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384172048760-316vtbv6k83kcdq7ludeqo9gj9efmljo</string>
	<key>API_KEY</key>
	<string>AIzaSyBbD4PX3vikD9nxbIA9Sv72L_g_f4WahWI</string>
	<key>GCM_SENDER_ID</key>
	<string>384172048760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byoungil.youn.Chat-App-With-Firestore</string>
	<key>PROJECT_ID</key>
	<string>firechat-6e8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-6e8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384172048760:ios:ce35d8b62b5fb1624f888d</string>
</dict>
</plist>